<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellType</key>
		<integer>0</integer>
		<key>title</key>
		<string>Sign Up</string>
	</dict>
	<dict>
		<key>cellType</key>
		<integer>0</integer>
		<key>title</key>
		<string>Home</string>
	</dict>
    <dict>
        <key>cellType</key>
        <integer>0</integer>
        <key>title</key>
        <string>Favorite</string>
    </dict>
    <dict>
        <key>cellType</key>
        <integer>0</integer>
        <key>title</key>
        <string>Download</string>
    </dict>
	<dict>
		<key>cellType</key>
		<integer>0</integer>
		<key>title</key>
		<string>License</string>
	</dict>
</array>
</plist>
